.caption{
  background-color: #4676a0;
    color: #fff;
}
.black-border {
    border: 1px solid black !important;

}
.border-bottom{
    border: 2px solid black !important;
}
.bg-head{
    background: rgb(228, 236, 255) !important;
  
}
.w-35{
    width: 35% !important;
}
.admform-sd  {
    border: 3px solid #ccc;
    border-radius: 5px;
    height: 210px;
    margin-left: 7px;
}

