.btn_primary {
  background-color: var(--erp-sidebar-color);
  border: var(--erp-sky-500);
}

.btn_outline_primary {
  color: var(--erp-sidebar-color);
  border-color: var(--erp-sidebar-color);
}

.btn_outline_primary:hover {
  background-color: var(--erp-sidebar-color);
  border: var(--erp-sidebar-color);
  color:var(--erp-card-color)
}

.btn_primary:hover {
  background-color: var(--erp-sidebar-color);
}

.btn-load .spinner-border {
  height: 19px;
  width: 19px;
}