body {
    font-family: Poppins, sans-serif;
}

.card-number {
    font-size: var(--erp-fs-14);
    font-weight: var(--erp-font-weight-regular);
}

.card-body .dollar {
    font-size: var(--erp-fs-22);
}
.Totalearning{
    transition:all 0.3s linear;
      
 }
 .Totalearning:hover{
     transform: translateY(-7px);
     box-shadow: 0px 5px 0px 5px solid grey;
 }
 .orders{
 
     transition:all 0.3s linear;
       
  }
  .orders:hover{
      transform: translateY(-7px);
  }
  .customers{
 
     transition:all 0.3s linear;
       
  }
  .customers:hover{
      transform: translateY(-7px);
  }
  .my-balance{
 
     transition:all 0.3s linear;
       
  }
  .my-balance:hover{
      transform: translateY(-7px);
  }
  
.card-link{
    color: var( --erp-blue-color);
}
.card-body {
    font-family: Poppins, sans-serif;
    ;
}

.Totalearning {

    transition: all 0.3s linear;

}

.Totalearning:hover {
    transform: translateY(-7px);
    box-shadow: 0px 5px 0px 5px solid var(--erp-gray-color);
}

.orders {

    transition: all 0.3s linear;

}

.orders:hover {
    transform: translateY(-7px);
}

.customers {

    transition: all 0.3s linear;

}

.customers:hover {
    transform: translateY(-7px);
}

.my-balance {

    transition: all 0.3s linear;

}

.my-balance:hover {
    transform: translateY(-7px);
}

.card-link {
    color: var(--erp-primary-color);
    font-size: var(--erp-fs-13);
    padding-top: 15px;
    text-decoration: underline;
    font-family: Poppins, sans-serif;
    ;
}

.card-imgs {
    width: 50px;
    height: 50px;
}

.phone {
    width: 50px;
    height: 50px
}

.card-colr {
    color: var(--erp-text-mute);
}

.bookmark-icon  {
    width: 12px;
}