

.fsize {
    font-size: var(--erp-fs-s);
    font-weight: var(--erp-font-weight-medium);
}
.dropone-border {
    min-height: 230px;
    border: 2px  #e9ebec dashed;
    background: #fff;
    border-radius: 6px;
}
.filepond{
  
    border: 2px dashed #e9ebec;
    background: #fff;
    border-radius: 6px;
}
.filepond-profile-picture {
    border: 2px dashed #e9ebec;
    background: #fff;
    border-radius: 50%;
}

.img-box-fsize {
    font-size: 14px;
}
.form-fsize{
    font-size: 14px;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.select-scrl {
    scrollbar-width: thin;
}


.btn-soft-primary:hover {
    color: var(--erp-white-color);
    background-color: var(--erp-sky-500);
}

.btn-soft-primary {
    color: var(--erp-sky-500);
    background-color: var(--erp-gray-200);
}

/* .acc-plus::after {
    display: none;
} */


.date-pic {
    width: 300px !important;
}

.react-datepicker__header {
    background-color: var(--erp-sky-500);
}

.react-datepicker__current-month {
    color: var(--erp-white-color);
}

.react-datepicker__day-name {
    color: var(--erp-white-color);
}

/* page*/
