table {
  font-family: Poppins, sans-serif;
  scrollbar-width: thin;
}
.card-header input {
  padding-right: 30px;
}
.search-box {
  position: relative;
}
.search-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

th {
  background-color: #f3f3f9 !important;
}
.card-title {
  font-size: var(--erp-fs-16);
}
.icon_color {
  color: var(--erp-primary-color);
}
.fw_600 {
  font-weight: var(--erp-fw-600);
}
.fw_500 {
  font-weight: var(--erp-fw-500);
}
.fs_14 {
  font-size: var(--erp-fs-14);
}
.fs_13 {
  font-size: var(--erp-fs-13);
}
.fs-16 {
  font-size: var(--erp-fs-16);
}
.lh_xs {
  line-height: var(--erp-xs-lh);
}
/* .td-name{
   
    font-size: var(--erp-fs-14) ;
    font-weight: var(  --erp-fw-500);
    line-height: var(  --erp-xs-lh);
} */
table {
  font-family: Poppins, sans-serif;
}
.white_color {
  font-variant: var(--erp-card-color) !important;
}
.black_color {
  color: var(--erp-text-color) !important;
}
.tbl-card-header {
}

.product-img {
  width: 40px;
}
.sort-by {
  font-size: var(--erp-fs-xs);
}
.day-dropdown {
  font-size: var(--erp-fs-xs);
  color: var(--erp-text-mute);
  font-family: Poppins, sans-serif;
}
.pagination-text {
  font-size: var(--erp-fs-14);
  color: var(--erp-text-mute);
}
.tbl-user-img {
  width: 30px;
}

/* .general-report {
  font-size: var(--erp-fs-13);
} */
.order-code {
  font-size: var(--erp-fs-13);
}

.page-link {
  color: var(--erp-sidebar-color);
  background-color: var(--erp-white-color);
}
.active > .page-link,
.page-link.active {
  color: var(--erp-card-color);
  background-color: var(--erp-sidebar-color);
  border-color: var(--erp-sidebar-color);
}
.text_mute {
  color: var(--erp-gray-400) !important;
}

thead th {
  font-weight: var(--erp-fw-500);
  font-size: var(--erp-fs-13);
}

thead th {
  /* font-weight: var(--erp-font-weight-medium); */
  font-size: var(--erp-fs-13);

  color: var(--erp-text-mute);
}
.text_danger {
  color: var(--erp-red-500) !important;
}

.link-primary {
  color: var(--erp-primary-color);
}
.fs_xs {
  font-size: var(--erp-fs-xs);
}
tr {
  display: table-row;
  vertical-align: inherit;
}
.text_success {
  color: var(--erp-green-600) !important;
}
.black_color {
  color: var(--erp-text-color);
}
.tbl-amount {
  font-size: var(--erp-fs-14);
}

.tbl-amount {
  font-size: var(--erp-fs-14);
}
.badge {
  line-height: 0.95 !important;
  font-size: var(--erp-fs-xxs);
}
.bg_success_subtle {
  background-color: var(--erp-green-light);
}
.btn_soft_info {
  color: var(--erp-sky-300) !important;
  background-color: var(--erp-sky-light) !important;
  border: transparent !important;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
/* Hoverable Table css start*/
.toggle-showcode {
  font-size: var(--erp-fs-14);
}
.instruction-line {
  font-size: var(--erp-fs-13);
}
.download-icon {
  font-size: var(--erp-fs-16);
  color: var(--erp-primary-color);
}
.detail-btn {
  font-size: var(--erp-fs-13);
}
.btn_success {
  color: var(--erp-white-color) !important;
  background-color: var(--erp-green-500) !important;
}
.btn_success:hover{
  color: var(--erp-white-color) !important;
  background-color: var(--erp-green-600) !important;
}
.bg_success {
  background-color: var(--erp-green-100) !important;
}
.bg_light {
  background-color: var(--erp-card-color) !important ;
}
.bg_danger {
  background-color: var(--erp-red-500) !important;
}
.btn_soft_danger {
  color: var(--erp-red-400) !important ;
  background-color: var(--erp-red-100) !important;
}
.btn_soft_danger:hover {
  color: var(--erp-white-color) !important ;
  background-color: var(--erp-red-400) !important;
}


.table-dropdown-menu {
  font-size: var(--erp-fs-13) !important;
  position: absolute !important;
  inset: 0px 0px auto auto !important;
  transform: translate3d(0px 37px 0px);
}
/* .btn_light {
    color: var(--erp-black-color);
    background-color: var(--erp-light-gray);
    border-color: var(--erp-light-gray);
} */
.btn_info {
  background-color:var( --erp-sky-400) !important;
  border-color: var( --erp-sky-400)!important;
  color: var(--erp-white-color);
  
}
.btn_info:hover {
    background-color: var( --erp-sky-800) !important;
    border-color: var( --erp-sky-800) !important;
    /* color: var(--erp-white-color); */
    

}
.btn_info:active {
    background-color: var( --erp-sky-800) !important;
    border-color: var( --erp-sky-800) !important;
    color: var(--erp-white-color);
}