.bg_red{
    background-color:var(--erp-bg-red)
}
.bg_subtle{
    background-color: var( --erp-subtle);
}
.bg_yellow{
    background-color: var( --erp-bg-yellow);
}
.bg_infosubtle{
    background-color: var(--erp-bg-infosubtle);
}
.bg_secondary{
    background-color: var( --erp-bg-secondary);
}
.bg_infolight{
    background-color: var(--erp-bg-infolight) ;
}
.bg_primary{
    background-color: var(--erp-green-400);
}
.bg_white{
    background-color:var(--erp-card-color);
}