@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root,
[data-erp-theme="light"] {
  /* color #4676a0*/
  --erp-primary-color: #3a4876;
  --erp-secondary-color: #eb6329;
  --erp-orange-500: #f06548;
  --erp-orange-600: #da3412;
  --erp-light-blue-color: #abb9e8;
  --erp-light-gray:#e9ebec;
  --erp-gray-color: #878a99;
  --erp-white-color: #fff;
  --erp-sky-500: #405189;
  --erp-sky-300: #7dd3fc;
 

  --erp-sky-400: #2385ba;
  --erp-sky-light: #dff0fa;
  --erp-yellow-color: #d19b3d;
  --erp-lightblack-color: #2e353d;
  --erp-black-color: black;
  --erp-text-mute: #878a99;
  --erp-green-400: #0ab39c;
  --erp-green-light: #daf4f0;
  --erp-black-300: #495057;
  --erp-white-200: #495057;

  /* Gray / Zinc */
  --erp-gray-100: #f4f4f5;
  --erp-gray-200: #e4e4e7;
  --erp-gray-300: #d4d4d8;
  --erp-gray-400: #a1a1aa;
  --erp-gray-500: #71717a;
  --erp-gray-600: #52525b;
  --erp-gray-700: #3f3f46;
  --erp-gray-800: #27272a;
  --erp-gray-900: #18181b;

  /* Green */

  --erp-green-100: #dcfce7;
  --erp-green-200: #bbf7d0;
  --erp-green-300: #86efac;
  --erp-green-400: #4ade80;
  --erp-green-500: #0ab39c;
  --erp-green-600: #16a34a;
  --erp-green-700: #15803d;
  --erp-green-800: #166534;
  --erp-green-900: #14532d;

  /* Red */

  --erp-red-100: #fee2e2;
  --erp-red-200: #fecaca;
  --erp-red-300: #fca5a5;
  --erp-red-400: #f87171;
  --erp-red-500: #ef4444;
  --erp-red-600: #dc2626;
  --erp-red-700: #b91c1c;
  --erp-red-800: #991b1b;
  --erp-red-900: #7f1d1d;

  /* yellow */

  --erp-yellow-100: #fef9c3;
  --erp-yellow-200: #fef08a;
  --erp-yellow-300: #fde047;
  --erp-yellow-400: #facc15;
  --erp-yellow-500: #eab308;
  --erp-yellow-600: #ca8a04;
  --erp-yellow-700: #a16207;
  --erp-yellow-800: #854d0e;
  --erp-yellow-900: #713f12;

  /* blue */

  --erp-blue-100: #f0f8ff;
  --erp-blue-200: #add8e6;
  --erp-blue-300: #87ceeb;
  --erp-blue-400: #87cefa;
  --erp-blue-500: #00bfff;
  --erp-blue-600: #1e90ff;
  --erp-blue-700: #6495ed;
  --erp-blue-800: #4682b4;
  --erp-blue-900: #00008b;

  /* Indigo */

  --erp-indigo-100: #e0e7ff;
  --erp-indigo-200: #c7d2fe;
  --erp-indigo-300: #a5b4fc;
  --erp-indigo-400: #818cf8;
  --erp-indigo-500: #6366f1;
  --erp-indigo-600: #4f46e5;
  --erp-indigo-700: #4338ca;
  --erp-indigo-800: #3730a3;
  --erp-indigo-900: #312e81;

  /* Sky */

  --erp-sky-100: #e0f2fe;
  --erp-sky-200: #bae6fd;
  --erp-sky-300: #7dd3fc;
  --erp-sky-400: #38bdf8;
  --erp-sky-500: #0ea5e9;
  --erp-sky-600: #0891b2;
  --erp-sky-700: #0369a1;
  --erp-sky-800: #075985;
  --erp-sky-900: #0c4a6e;

  /* Violet */

  --erp-violet-100: #ede9fe;
  --erp-violet-200: #ddd6fe;
  --erp-violet-300: #c4b5fd;
  --erp-violet-400: #a78bfa;
  --erp-violet-500: #8b5cf6;
  --erp-violet-600: #7c3aed;
  --erp-violet-700: #6d28d9;
  --erp-violet-800: #5b21b6;
  --erp-violet-900: #4c1d95;

  /* Purple */

  --erp-purple-100: #f3e8ff;
  --erp-purple-200: #e9d5ff;
  --erp-purple-300: #d8b4fe;
  --erp-purple-400: #c084fc;
  --erp-purple-500: #a855f7;
  --erp-purple-600: #9333ea;
  --erp-purple-700: #7e22ce;
  --erp-purple-800: #6b21a8;
  --erp-purple-900: #581c87;

  /* Changing colors */

  --erp-bg-color: #fff;
  --erp-card-color: #fff;
  --erp-navbar-color: #fff;
  --erp-sidebar-color: #405189;
  --erp-text-color: #000;
  --erp-link-color: #4682b4;

  /* font-size */
  --erp-fs-xxs: 10px;
  --erp-fs-xs: 12px;
  --erp-fs-s: 0.8125rem;
  --erp-fs-m: 0.9375rem;
  --erp-fs-l: 1.25rem;
  --erp-fs-24: 24px;

  --erp-fs-22: 22px;
  --erp-fs-14: 14px;
  --erp-fs-16: 1rem;
  --erp-fs-13: 13px;
  --erp-fs-14: 14px;
  --erp-fs-17: 17px;
  --erp-fs-7: 0.775rem;
  /* font-weight */
  --erp-fw-100: 100;
  --erp-fw-300: 300;
  --erp-fw-400: 400;
  --erp-fw-500: 500;
  --erp-fw-600: 600;
  --erp-fw-700: 700;

  /* line-height */
  --erp-xs-lh: 1.2;
  --erp-font-xs-light-lh: 12px 300 1.2;
  --erp-font-s-regular-lh: 14px 400 1.5;
  --erp-font-m-medium-lh: 16px 500 1.6;
  --erp-font-l-bold-lh: 18px 700 1.8;
  --erp-font-xl-bold-lh: 20px 700 2;
  /* Extra Large, Bold, Line Height 2.0 */


  /* background colors*/
 --erp-bg-light: rgb(248 249 250);
 

}



/* Dark mode colors */
.darkMode,
[data-erp-theme="dark"] {
  color-scheme: dark;
  /* --erp-white-color: #1a1d21;
  --erp-sky-500: #212529;
  --erp-sky-300: #7dd3fc;
  --text-color: #fff;
  --erp-text-mute: #a3a3a3; */
  --erp-bg-color: #1a1d21;
  --erp-card-color: #212529;
  --erp-navbar-color: #292e32;
  --erp-sidebar-color: #212529;
  --erp-text-color: #fff;
  --erp-link-color: #fff;
}

/* .wrap {
  background-color: var(--erp-white-color);
  width: 100vw;
  height: 100vh;
} */

.App {
  background-color: var(--erp-bg-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}

.font-size-s {
  font-size: var(--erp-fs-s);
}

.font-size-m {
  font-size: var(--erp-fs-m);
}

.font-size-lg {
  font-size: var(--erp-fs-l);
}

.font-size-xl {
  font-size: var(--erp-fs-xl);
}

.font-weight-100 {
  font-weight: var( --erp-fw-100);
}

.font-weight-300 {
  font-weight: var( --erp-fw-300);
}

.font-weight-400 {
  font-weight: var( --erp-fw-400);
}

.font-weight-500 {
  font-weight: var( --erp-fw-500);
}

.font-weight-700 {
  font-weight: var( --erp-fw-700);
}

.main_menu i {
  display: inline-block;
  min-width: 1.75rem;
  font-size: var(--erp-fs-l);
  line-height: inherit;
}

a {
  text-decoration: none !important;
}

.text-mute {
  color: var(--erp-gray-400) !important;
}

.form-control {
  -webkit-appearance: none;
  appearance: none;
  background-clip: padding-box;
  background-color: var(--erp-white-color);
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  color: #212529;
  display: block;
  font-size: var(--erp-fs-s) !important;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.5rem 0.9rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #000;
}
/* ---- */
html,
body,
#root,
.App,
.content {
  height: 100%;
  width: 100%;
  /* font-family: "Source Sans Pro", sans-serif; */
  /* font-family: "Nunito", sans-serif; */
  background-color: var(--erp-bg-color);
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Cards */
.bg_white {
  background-color: var(--erp-card-color) !important;
  box-shadow: 0 0 0 var(--erp-text-mute) !important;
}

.list_bg_white {
  background-color: var(--erp-card-color) !important;
  color: var(--erp-text-color) !important;
}

.text_danger {
  color: var(--erp-red-500) !important;
}
